@model BulkyBook.Model.Models.Product
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-6">
            <h1 class="text-primary">Products</h1>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Upsert" class="btn btn-success">Add Product</a>
        </div>
    </div>
</div>

<table id="prodTbl" class="table table-bordered table-striped" width="100%">
    <thead class="bg-dark text-white">
        <tr>
            <th>Title</th>
            <th>ISBN</th>
            <th>Author</th>
            <th>Description</th>
            <th>Price</th>
            <th>Catagory</th>
            <th>CoverType</th>
            <th>Action</th>
        </tr>
    </thead>
</table>

@section scripts{ 
    <script src="~/js/Product.js"></script>
}
