@model int


    <div class="col">
        <button type="submit" class="btn btn-success form-control" asp-route-id="@Model">Edit</button>
    </div>
    <div class="col">
        <a asp-action="Index" class="btn btn-warning form-control">Back</a>
    </div>
